root = true

[*]
charset = utf-8
end_of_line = CRLF
indent_style = space
indent_size = 4
insert_final_newline = false
trim_trailing_whitespace = true

[*.sln]
indent_style = tab

[*.{csproj,vbproj,vcxproj,vcxproj.filters}]
indent_size = 2

[*.{xml,config,props,targets,nuspec,ruleset}]
indent_size = 2

[*.json]
indent_size = 2

[*.yaml]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.sh]
end_of_line = lf
[*.cs]

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none

# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = none

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = silent

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# SA1204: Static elements should appear before instance elements
dotnet_diagnostic.SA1204.severity = none

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = none
